<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.githubexample" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GitHubExample" >
        <activity
            android:name=".view.GitHubActivity"
            android:exported="false" />
        <activity
            android:name=".view.GitHubListActivity"
            android:exported="false"
            android:label="@string/title_activity_git_hub_list"
            android:theme="@style/Theme.GitHubExample.NoActionBar" />
    </application>

</manifest>